Repository Reloashed/docker-compose-project, changes with the owners that CODEOWNERS names for each.
All owners: @SeverinPue, @thlivio, @Reloashed

Add DOCKERFILES
  backend/DOCKERFILE
  database/DOCKERFILE
  frontend/DOCKERFILE
Owners: @SeverinPue, @thlivio

Add github actions and gitignore
  .github/workflows/main.yaml
  .gitignore
Owners: @Reloashed

backend
  .idea/docker-compose-project.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  demo/.mvn/wrapper/maven-wrapper.properties
  demo/mvnw
  demo/mvnw.cmd
  demo/pom.xml
  demo/src/main/java/com/example/demo/DemoApplication.java
  demo/src/main/resources/application.properties
  demo/src/test/java/com/example/demo/DemoApplicationTests.java
Owners: none

Add pipeline
  .github/workflows/main.yaml
  docker-compose.yml
Owners: @Reloashed

backend
  .idea/compiler.xml
  .idea/encodings.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/DOCKERFILE
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/com/example/demo/DemoApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/example/demo/DemoApplicationTests.java
Owners: @SeverinPue

Add pipeline
  .github/workflows/main.yaml
Owners: @Reloashed

asdf
  .github/workflows/main.yaml
Owners: @Reloashed

CODEOWNERS:

/backend/ @SeverinPue
/frontend/ @thlivio
/.github/ @Reloashed
/databse/ @Reloashed
